[submodule "mods/ingots"]
	path = mods/ingots
	url = https://github.com/Skamiz/ingots.git
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack.git
[submodule "mods/oil"]
	path = mods/oil
	url = https://github.com/rubenwardy/oil.git
[submodule "mods/node_io"]
	path = mods/node_io
	url = https://github.com/auouymous/node_io.git
[submodule "mods/minetest_hudbars"]
	path = mods/hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "mods/living_trees"]
	path = mods/living_trees
	url = https://github.com/RichardTry/living_trees.git
