[submodule "mods/ingots"]
	path = mods/ingots
	url = https://github.com/Skamiz/ingots.git
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack.git
[submodule "mods/oil"]
	path = mods/oil
	url = https://github.com/rubenwardy/oil.git
